<!-- Top Bar -->
<section id="top-bar" class="p-3">
    <div class="container">
        <div class="row justify-content-end">

            <div class="col-md-4 text-left">

                <i class="fas fa-envelope-open"></i> contact@digitalnotebooks.co

            </div>
            <div class="col-md-4 ml-auto">
                <strong>Stay Organized, Stay Inspired. Let's Write.</strong>

            </div>
            <!-- TO DO: update social links-->
            <!-- <div class="col-md-4 ml-auto">

                <div class="social text-right">
                    <a href="#">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a href="#">
                        <i class="fab fa-facebook"></i>
                    </a>
                    <a href="#">
                        <i class="fab fa-linkedin"></i>
                    </a>
                    <a href="#">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a href="#">
                        <i class="fab fa-pinterest"></i>
                    </a>
                </div>
            </div> -->
        </div>
    </div>
</section>