{% extends 'base.html' %}

{% block title %} | User Notebooks {% endblock %}

{% block content %}
<section id="showcase-inner" class="py-5 text-white">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-12">
                <h1 class="display-4">User Dashboard</h1>
                <p class="lead">Manage your Notebooks and Notes</p>
            </div>
        </div>
    </div>
</section>

<!-- Breadcrumb -->
<section id="bc" class="mt-3">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="{% url 'index' %}">
                        <i class="fas fa-home"></i> Home</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="{% url 'dashboard' %}"> Dashboard</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="{% url 'viewnotebook' %}"> All Notebooks</a>
                </li>
                <li class="breadcrumb-item active"> Update Notebook </li>
            </ol>

        </nav>
    </div>
</section>


<section id="dashboard" class="py-4">
    <div class="container">


        <div class="row">

            <div class="col-md-12">
                <h2>Update Notebook</h2>

                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="hidden" name="user_id" value="{{ userid }}" readonly>
                    <button type="submit" class="btn btn-primary">Update</button>
                    <a href="{% url 'viewnotebook' %}" class="btn btn-secondary">Cancel</a>
                </form>


            </div>
        </div>
    </div>
</section>

{% endblock content %}